a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url("../images/houndstooth-pattern.png");
}

.title {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 2em;
    color: #4aaaa5;
    padding: 0em 0em 1em 0em;
    width: 100%;
    border-bottom: 1px lightgray solid; 
}

form {
    width: 100%;
}

.iconShortcut {
    width: 320px;
    height: 240px;
    background-size: 320px 240px;
    color: #ffffff;
    margin: 1em 2em 1em 0em;
    flex:none;
    position: relative;
    
}

.shortcutName {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
    box-sizing: border-box;
    padding: .5em 0em .5em 0em;
    position: absolute;
    bottom: 1em;
    width: 100%;
}

#footer {
    background: #666666;
    position: fixed;
    bottom: 0;
    height: 5em;
    width: 100%;
    border-top: 8px #4aaaa5 solid;

}

#footerText {
    height: 50px;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    background: #666666;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    position: fixed;
    bottom: 1em;   
}

.article {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
    color: #666666;
    padding: 1em 0em 0em 0em;
    display:flex;
    flex-wrap: wrap;
    line-height: 2em; 
    width: 100%;
}

 


@media only screen and (max-width: 640px) {

#header {
    border-bottom: 1px #777777 solid;
    position: static;
   
}

#userName {
    background: #4aaaa5;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    padding: .75em 0em .75em 0em;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}

#links {
    background: #ffffff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 1em 0em 1em 0em;
    font-size: 1.25em;
    text-align: center;
}

.contentContainer {
    background: #ffffff;
    margin: 1em 1em 0em 1em;
    margin-bottom: 6em;
    padding: 1em 1em 1em 1em;
    border: 1px #777777 solid;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}


}


@media only screen and (min-width: 641px) and (max-width: 768px) {

    #header {
        border-bottom: 1px #777777 solid;
        background: #ffffff;
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
    }
    
    #userName {
        background: #4aaaa5;
        color: #ffffff;
        font-size: 2em;
        text-align: center;
        padding: .75em .75em .75em .75em;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        font-weight: bold;

    }
    
    #links  {
        background: #ffffff;
        color: #777777;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        padding: 1em 0em 1em 0em;
        font-size: 1.25em;
        text-align: center;
        margin-left: auto;
    }
    
    .contentContainer {
        background: #ffffff;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px #777777 solid;
        padding: 1em 1em 1em 1em;
        margin-bottom: 6em;
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    

    
    }

    @media only screen and (min-width: 769px) and (max-width: 980px) {

        #header {
            border-bottom: 1px #777777 solid;
            display: flex;
            background: #ffffff;
            padding-left: 2em;
            padding-right: 2em;
        }
        
        #userName {
            background: #4aaaa5;
            color: #ffffff;
            font-size: 2em;
            text-align: center;
            padding: .75em .75em .75em .75em;
            font-family: 'Georgia', Times, 'Times New Roman', serif;
            font-weight: bold;
        }
        
        #links{
            background: #ffffff;
            color: #777777;
            font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
            padding: 1em 0em 1em 0em;
            font-size: 1.25em;
            text-align: center;
            margin-left: auto;
        }
        
        .contentContainer {
            background: #ffffff;
            margin: 1em 1em 0em 1em;
            border: 1px #777777 solid;
            margin-left: 2em;
            margin-top: 2em;
            margin-bottom: 6em;
            padding: 1em 1em 1em 1em;
            width: auto;
            max-width: 768px;
            display: flex;
            flex-wrap: wrap;
        }
        
        
        }

        @media only screen and (min-width: 981px){

            #header {
                border-bottom: 1px #777777 solid;
                display: flex;
                background: #ffffff;
                padding-left: 2em;
                padding-right: 2em;
            }
            
            #userName {
                background: #4aaaa5;
                color: #ffffff;
                font-size: 2em;
                text-align: center;
                padding: .75em .75em .75em .75em;
                font-family: 'Georgia', Times, 'Times New Roman', serif;
                font-weight: bold;
            }
            
            #links{
                background: #ffffff;
                color: #777777;
                font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
                padding: 1em 0em 1em 0em;
                font-size: 1.25em;
                text-align: center;
                margin-left: auto;
            }
            
            .contentContainer {
                background: #ffffff;
                margin: 1em 1em 0em 1em;
                border: 1px #777777 solid;
                margin-left: 2em;
                margin-top: 2em;
                margin-bottom: 6em;
                padding: 1em 1em 1em 1em;
                width: auto;
                max-width: 768px;
                display: flex;
                flex-wrap: wrap;
            }